<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/layout.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/header.css">
 <!-- step 2 extract style and script from sub page into the layout -->
    <%- style %>
</head>
<body>
    <!-- under step 2 crate all view folder for complete  MVC -->
    <!--  layout is rapper all page inherit data from here -->
    <%- include('_header') -%>
      <div class="main">
        <%- body -%>
      </div>
   
    
    <%- include('_footer') -%> 
    <%- script %>
</body>
</html>